<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ForumsNew</title>
<link href="http://dan.studioextranet.com/stylesheets/sub.css" media="screen" rel="Stylesheet" type="text/css" />
<link rel="icon" href="/images/appicon.ico" type="image/x-icon" />

</head>

	<body>

		<div id="content-wrap">
			<div class="content">
				
				<div class="wrap">
					<div class="top-right">
						
<div class="inside">
	<h2>Access Denied</h2>

	<p><img alt="Beta_only" src="/images/beta_only.gif" /></p>
	<p class="normal"><strong>Sorry but your user account does not have permission to access this area of ForumsNew.</strong></p>
	<p class="normal">If you believe you should have access please contact your account administrator, who will be able to assist.</p>		
	<p class="normal" class="aligncentre"><a href="/">Return to Dashboard</a> or <a href="/logout">Logout</a>
</div>
					</div>
				</div>

				<div class="bottom"><div class="bottom-left"><div class="bottom-right"></div></div></div>
			</div>
		</div>
	</body>
</html>