<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ForumsNew &#8250; Settings</title>
<link href="http://dan.studioextranet.com/stylesheets/main.css" media="screen" rel="Stylesheet" type="text/css" />
<link href="http://dan.studioextranet.com/stylesheets/merge_this.css" media="screen" rel="Stylesheet" type="text/css" />
<link href="http://dan.studioextranet.com/stylesheets/print.css" media="print" rel="Stylesheet" type="text/css" />

<!--[if IE 6]>
<link href="http://dan.studioextranet.com/stylesheets/ie6.css" media="screen" rel="Stylesheet" type="text/css" />
<![endif]-->

<style type="text/css">.container { 
	padding:0 5%; 
	
	#content select {padding:3px;border:1px solid #bebebe;font-family:Tahoma, Verdana, sans-serif;font-size:11px;}
	
}</style>

<link rel="icon" href="/images/appicon.ico" type="image/x-icon" />
</head>

<body>
	<div class="container">
		<div id="header" >

			
			<h1 class="logo"><a href="/">ForumsNew </a></h1>
			
			<ul class="main-nav">
				<li class=""><a href="/admin" class="dashboard">Dashboard</a></li>				
				<li class=""><a href="/admin/clients" class="clients">Clients</a></li>
				<li class=""><a href="/admin/orders" class="quotes">Orders</a></li>
				<li class=""><a href="/admin/transactions" class="invoices">Transactions</a></li>
			</ul>

			<p>
				<a href="/profile">My Profile</a> | 
				<a href="/admin/settings">Settings</a> | 
				<a href="/logout" onclick="return confirm('Are you sure you wish to logout?');">Logout</a>
			</p>
			<div class="subnav">
				<ul class="">
					<li class="start"><a href="/clients">Client List</a></li>
					<li><a href="/clients/new">Add New Client</a></li>
				</ul>
				<ul  class="">
					<li class="start"><a href="/jobs">Jobs List</a></li>

					<li><a href="/jobs/new">Add New Job</a></li>
				</ul>
				<ul class="">
					<li class="start"><a href="/quotes">Quotes List</a></li>
					<li><a href="/quotes/new">Add New Quote</a></li>
				</ul>
				<ul class="">

					<li class="start"><a href="/orders">Orders List</a></li>
					<li><a href="/orders/new">Add New Order</a></li>
				</ul>
			</div>
			<div class="clearme"></div>
		</div>

	
		<div id="content" class=" ">
			
<div class="sublinks" id="sublinks">
	<ul>
		<li><a href="/admin/settings" class="active">General Settings</a></li>
		<li><a href="/admin/settings/coupons">Coupons</a></li>
		<li><a href="/admin/settings/products">Products</a></li></ul></div>

			<div class="wrap">
				<div class="top-right">

					<div class="inside">
						
	<div class="pagetitle">
		<h2>General Settings</h2>
	</div>
	<div class="pageinner">
		
			<% form_for(@setting, :url => { :action => :update } ) do |f| %>
  <%= f.error_messages %>
		<div class="splitscreen clear">
		<div class="left">

		<h4>Company Name</h4>
			<p class="grey">Your company name appears on all outgoing details, on the screen and in a variety of other places.</p>
		<p><%= f.text_field :site_name %></p>
		

		</div>
		<div class="right">
		<h4>Dashboard Message</h4>
		<p class="grey">Text entered in the box below will be displayed to everyone who logs in. To remove the message, simply delete the contents.</p>
		<p><input id="account_name" name="account[name]" size="30" type="text" value="ForumsNew" /></p>
		
		
		
		</div>
		</div>

		<hr class="bold clear" />
		<p class="alignright"><input class="submit_button" name="commit" type="submit" value="Save Settings" /></p>
		<% end %>
	</div>

					</div>

				</div>
			</div>
			<div class="bottom"><div class="bottom-left"><div class="bottom-right"></div></div></div>
			
		</div>
	
	
		<div id="right">
			
		</div>
	</div>
</body>
</html>